body{
    padding: 0;
    margin: 0;
}

.header-top{
    background-color: black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.nav{
    display: flex;
    width:60%;
    justify-content: space-around;
    list-style: none;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

img{
    width: 80px;
}

.container{
    display: flex;
    min-height: 90vh;
    justify-content: space-between;
}
.container > div{
    width: 23%;

}
.left-div, .right-div{
  width: 80%;
  height: 80%;
  border-radius: 20px;
  background-color: gray;  
}

.left-element, .right-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-right-div1, .center-right-div2, .center-left-div1, .center-left-div2{
    width: 80%;
  height: 40%;
  border-radius: 20px;
  background-color: rgb(221, 24, 178);
}

.center-right-div2{
    background-color: blueviolet;
}

.center-left-div1{
    background-color: rgb(12, 216, 77);
}

.center-left-div2{
    background-color: rgb(217, 240, 10);
}


.center-right-element, .center-left-element{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}